*
!models/
!models/**

!labels/
!labels/**

!voices/
!voices/**

!.gitignore
!_config.py
!_detector.py
!_landmark.py
!_tts_module.py

!A_main.py

!a1_data_collect_module.py
!a2_model_training_module.py
!b1_module1_single_sign.py
!b2_module2_multi_sign.py

!resources_rc.py
!README.md
!requirements.txt
