*
!models/
!models/**

!labels/
!labels/**

!voices/
!voices/**

!old_ver/
!old_ver/**

!.gitignore

!_configurations.py
!_detector.py
!_draw_ui_module.py
!_landmark_module.py
!_select_model_n_labels.py
!_tts_module.py
!_write_text_vi.py

!A_main.py

!a1_data_collect_module.py
!a2_model_training_module.py
!b1_module1_single_sign.py
!b2_module2_multi_signs.py

!resources_rc.py
!README.md
!requirements.txt
